body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow-x: hidden;
    font-size: 22.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* CHANGE THEME STYLING */
#backgroundDiv1 {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: fixed;
}

#backgroundDiv2 {
    background-color: #18202a;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    transition-duration: 0.7s;
    transform-origin: top left;
    position: fixed;
    top: 0px;
    left: 0px;
}

#topHeading {
    position: fixed;
    height: 120px;
    width: 100%;
    z-index: 100;
    color: white;
}

#headingTitle {
    position: fixed;
    margin: auto;
    padding: auto;
    text-align: center;
    top: 45px;
    font-size: 30px;
    color: #18202a;
}

#topHeadingbg1 {
    height: 100%;
    width: 100%;
    background-color: #18202a;
    border-bottom: 1.5px solid white;
}

#topHeadingbg2 {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0px;
    background-color: white;
    border-bottom: 1.5px solid #18202a;
    transition-duration: 0.7s;
}

#changeThemeButton {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 150px;
    margin: 0 0 0 0;
    background-color: #18202a;
    border-radius: 22.5px;
    transition-duration: 0.3s;
    border: 1.5px solid white;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    color: white;
    cursor: pointer;
}

#changeThemeButton:hover {
    background-color: white;
    border-color: #18202a;
    color: #18202a;
}




/* MIDDLE DIV STYLING */
#middleMainDiv {
    margin: auto;
    position: absolute;
    top: 120px;
    width: 100%;
    height: 100%;
}



/* MAP STYLING */
#mainMap {
    display:inline-block;
    width: 50%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 0px;
    height: 100%;
}

#mainMapSVG {
    width: 100%;
    height: 100%;
}



/* CONTENT STYLING */
#mainContent {
    display:inline-block;
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 0px;
}

#mainContentSVG {
    width: 100%;
    height: 100%;
}




/* TIMELINE STYLING */
#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 30px;
    background-color: #18202a;
    border-top: 1.5px solid white;
}

#timeline {
    height: 150px;
    margin: auto;
    width: 50%;
}

#timelineSVG {
    width: 100%;
    height: 100%;
}